registry=https://registry.npmjs.org/
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=600000
auto-install-peers=true
strict-peer-dependencies=false
resolution-mode=highest
save-exact=true
node-linker=hoisted
shamefully-hoist=true